header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
    background: rgb(255, 197, 8);
    
    h1 {
        position: absolute;
        top:5px;
        left: 5px;
        color: rgb(82, 82, 241);
        z-index: 100;
font-size: 16px;
    }
}
  
