@import 'variables.scss';

header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
    // background: $Orange;
    background-color: $Yellow;
    h1 {
        position: absolute;
        top:5px;
        left: 5px;
        color: rgb(82, 82, 241);
        z-index: 100;

    }
}

@media (max-width: 600px) {
  header {
    h1 {
      font-size: 24px;
    } 
  }
}
