@import 'variables.scss';

.border {
    border: 1px solid rgb(194, 194, 194);
}

.main {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    padding-top: 260px;

    

    .main-container {
        
        display: flex;
        flex-direction: row;
        position:relative;
        // top:260px;
        // left: 55px;
        z-index: 2;

        
        margin-left: 160px;
        margin-bottom: 30px;

        &__title {
            padding: 10px;
        }

        .main-img {
            img {
                padding: 0;
                margin:0;
                width: 150px;
            }
        }
        
        .main-block {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            &__url {
                margin: 10px;
            }
            &__text {
                margin: 10px;
            }

            a {
                padding: 5px 10px;
                margin-bottom: 5px;
                border: 1px solid $Black;
                margin-right: 5px;
                transition: 500ms all;
            }
            a:hover {
                border: 1px solid $Black;
                border-radius: 10px;
            }
        }

        .main-news, 
        .main-textil,
        .main-lar {
            margin: 10px;
            h4 {
                padding: 10px;
                margin-top: 20px;
            }
            img {
                width: 100px;
                padding: 5px;
            }
            p {
                padding: 5px;
            }
        }
        
        // .main-textil {
        //     margin: 10px;
        //     h4 {
        //         padding: 10px;
        //         margin-top: 20px;
        //     }
        //     img {
        //         width: 100px;
        //         padding: 5px;
        //     }
        // }

    }
}
@media (max-width: 767px) {
    .main {
        .main-container {
            // left: 5px;
            margin-left: 0;
            .main-img {
                margin-left: 8px;
                img {
                    width: 120px;
                }
            }
            .main-block {
                margin-left: 10px;
                a {
                    padding: 5px;
                }
            }
            .main-news, 
            .main-textil,
            .main-lar {
                text-align: center;
            }
        }
    }
}
