.container-home {
    main {
        display: flex;
        position: absolute;
        top:250px;
        left: 50px;
        z-index: 10000;
        a {
            padding: 10px;
            text-decoration: none;
        }
    }
}
