@import 'variables.scss';

.container-home {
    
    .main {
        min-height: calc(100vh - 150px);
        display: flex;
        flex-direction: row;
        position:relative;
        // top:260px;
        // left: 55px;
        z-index: 2;

        padding-top: 260px;
        margin-left: 60px;

        .main-img {
            img {
                width: 150px;
            }
        }
        .main-block {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            a {
                padding: 10px;
                // text-decoration: none;
            }
            a:hover {
                border: 1px solid rgb(64, 26, 126);
                border-radius: 10px;
            }
        }
    }
}
@media (max-width: 400px) {
    .container-home {
        .main {
            // left: 5px;
            margin-left: 10px;
            .main-img {
                img {
                    width: 120px;
                }
            }
            .main-block {
                margin-left: 10px;
                a {
                    padding: 5px;
                }
            }
        }
    }
}