.container-Home-logo {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  // background: chartreuse;
  // position:relative;
  header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
    background: rgb(255, 197, 8);
  }
  footer {
    display: block;
    // flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255, 197, 8);
    width:100%;
    height: 150px;
    padding: 10px;
    h3, p {
      padding: 10px 0;
    }
  }
}
.Home-logo {
  // position: fixed;
  // top: 10px;
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  h1 {
    position: absolute;
    top:5px;
    left: 5px;
    color: rgb(82, 82, 241);
  }
  
}
.logo-fon {
  position: absolute;
  top: 24px;
  left: 21px;
  border-radius: 50%;
  // border: 3px solid rgb(206, 27, 27);
  width:280px;
}
.logo {
  z-index: 1000;
  animation: Home-logo-spin infinite 20s linear;
}


@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}