@import 'variables.scss';

.box-logo {
  position: relative;
  
  .logo {    
    animation: Home-logo-spin infinite 20s linear;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    width: 250px;
    border-radius: 50%;
  }
  .logo-fon {
    position: absolute;
    top: 22px;
    left: 18px;
    z-index: 90;
    width:230px;
    border-radius: 50%;
  }
}


@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
